:root {
  --text-color: #303030;
  --secondary-color: #f5f5f5;
  --form-color: #eae8e8;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
  color: var(--text-color);
}

h1 h2 h3 h4 h5 h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 35%;
  margin-left: 55%;
  text-decoration: solid;
}
button {
  margin: 0%;
}

.btn {
  height: 50px;
  width: 150px;
  background: rgb(21, 21, 21);
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1.4rem white;
  transform: translateY(-0.1rem);
  transition: transform 154ms;
}

.btn:active {
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

/* NAV BAR */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  width: 100%;
  padding: 0.9rem 0;
  color: inherit;

  .mobile-menu {
    margin-right: 1rem;
    float: right;
    cursor: pointer;
    display: none;
  }
  .mobile-menu-exit {
    display: none;

    height: 40px;
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }
  nav {
    ul {
      margin: 0%;

      li {
        display: inline-block;
        margin: 0 0.6rem;
        a {
          text-decoration: none;
          color: #303030;
        }
        a.active-link,
        a:hover {
          font-weight: bold;
        }
      }
    }

    .btn {
      height: 40px;
      width: 100px;
    }

    .navbar-nav-buttons {
      margin-left: 6rem;
      display: flex;
      align-items: center;
      .navbar-button {
        margin: 0 0.5rem;
      }
    }

    .nav.sticky {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}

.section {
  transition: transform 1s, opacity 1s;
}

/* HOME */
#section-home {
  .home {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-position: center;
    .home-text {
      padding: 5.5rem;
      width: 44%;
      max-width: 100%;

      h1 {
        padding: 2rem 0;
        margin: 0.5rem;
      }
      p {
        margin: 0.5rem;
      }

      a {
        padding-left: 2rem;
      }

      .buttons {
        margin: 2rem 0;
      }
    }
  }
}

/* HOME & BEDROOM INTERIOR  */
#section-odd {
  h1 {
    font-size: 3rem;
  }
  .section-container {
    padding: 0%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .section-interior-text-header {
      position: absolute;
      top: 14rem;
      left: 42rem;
      .underline {
        margin-left: 4rem;
        height: 12px;
        width: 42px;
      }
    }

    .image-container {
      margin: 7rem 0;
      color: var(--text-color-1);
      padding: 3rem 0.3rem 3rem 0;
      .image-left {
        padding: 0.5rem;
      }
      .image-right {
        padding: 0.5rem;
      }
    }

    .section-interior-info {
      color: var(--text-color-1);
      padding: 7rem 1rem 0 1rem;
      width: 30%;

      .btn {
        margin-top: 2rem;
        display: block;
      }
    }
  }
}

/* KITCHEN INTERIOR & EXTERIOR */
#section-even {
  img {
    height: 390px;
    width: 250px;
  }
  .section-container {
    padding: 0%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .section-interior-text-header {
      position: absolute;
      top: 10rem;
      left: 29rem;
      .underline {
        margin-left: 1rem;
        height: 12px;
        width: 42px;
      }
    }

    .image-container {
      color: var(--text-color-1);
      margin: 4rem 0;
      padding: 3rem 0.3rem 3rem 0;
      .image-left {
        padding: 0.5rem;
      }
      .image-right {
        padding: 0.5rem;
      }
    }

    .section-interior-info {
      color: var(--text-color-1);
      padding: 7rem 1rem 0 1rem;
      width: 30%;

      .btn {
        margin-top: 2rem;
        display: block;
      }
    }
  }
}

/* BEDROOM INTERIOR */
.section-bedroom-interior {
  img {
    height: 320px;
    width: 330px;
  }
}

/* TOP DESIGNS */
#section-top-designs {
  margin: 3rem 0;
  .row-container {
    display: flex;

    img {
      max-width: 100%;
      width: 37.75rem;
    }

    .top-design-text {
      background-color: var(--secondary-color);
      padding: 5rem 4rem 5rem 2rem;
      width: 70%;

      p {
        margin-top: 2rem;
      }
    }
  }
}

/* GALLERY & TESTIMONIALS*/
#section-gallery-and-testimonials {
  margin: 5rem 0;
  .section-header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    h2 {
      width: 70%;
    }

    .slider-btn-area {
      border: none;
      border-radius: 5px;
      padding: 0.3rem 0.7rem;
      color: #303030;
      outline: none;
      background-color: #ddd;
      transition: 0.4s;
    }

    .slider-btn-area:hover {
      color: #ffffff;
      background-color: black;
    }
  }
  .gallery-image {
    height: 300px;
    width: 400px;
  }

  .slider-wrap {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-left: 5rem;

    .slider-main {
      position: absolute;
      width: 300%;
    }

    .item {
      display: inline-block;
      position: relative;
      margin: 0.5rem;
      transition: 0.5s;

      .detail-box {
        margin-top: 2rem;
      }

      .testimonial {
        background-color: #ddd;
        padding: 3rem;
        width: 500px;

        .quote-icon {
          width: 60px;
        }

        .testimonial-header {
          margin: 1rem 0;
        }

        .testimonial-text {
        }

        .author-container {
          display: flex;
          margin-top: 2rem;
          .testimonial-photo {
            width: 100px;
            border-radius: 50%;
          }

          .initials {
            padding: 1.5rem;
          }
        }
      }
    }
  }
}

/* ABOUT US */
#section-about-us {
  .about-container {
    display: flex;
    .about-image {
      height: 400px;
      width: 500px;
    }

    .about-description {
      position: relative;
      background-color: var(--secondary-color);

      .about-icons {
        display: inline-block;
        position: absolute;
        top: 9rem;
        left: 2rem;
        .icon-container {
          .icon-position {
            padding: 0.4rem;
            margin-bottom: 0.2rem;
            height: 4rem;
          }
        }
      }
      padding: 3rem 2rem 5rem 10rem;

      .about-text-header {
        .underline {
          margin-left: 1rem;
          height: 12px;
          width: 42px;
        }
      }

      .about-text-info {
        padding-top: 3rem;
        width: 60%;
      }
      button {
        margin-top: 1rem;
      }
    }
  }
}

/* CREDITS */
#section-credits {
  margin: 3rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  img {
    height: 400px;
    width: 600px;
  }

  h5 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  p {
    margin-right: 0;
    padding-right: 0;
    width: 80%;
    font-size: 0.9rem;
  }

  .card-postion {
    display: flex;
    position: absolute;
    background-color: rgba(243, 246, 244, 0.9);
    padding: 1rem;
    border-radius: 5px;

    img {
      height: 60px;
      width: 60px;
    }
    .credit-text {
      padding-left: 1rem;
      margin: 0;
    }
  }

  .first-card {
    position: absolute;
    top: 6.5rem;
  }
  .second-card {
    left: 7rem;
  }
  .third-card {
    right: 11rem;
    bottom: 6rem;
  }
}

/* MAIL SUBCRIPTION */
#section-mail-subscription {
  padding: 3rem 6rem;

  .subscription-container {
    background-color: var(--secondary-color);
    padding: 4rem;

    .subscription-text-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5rem 0 5rem 0;
      position: relative;

      .position {
        position: absolute;
        filter: drop-shadow(2px, 4px, 8px, #585858);
      }
      /* ICONS-1*/
      .position-heart-icon-1 {
        top: 6.5rem;
        left: 5rem;
        transform: rotate(-30deg);
      }
      .position-refresh-icon {
        top: 1rem;
        left: 13rem;
        transform: rotate(30deg);
      }
      .position-circle-heart-icon-1 {
        top: 2rem;
        left: 1rem;
        transform: rotate(-30deg);
      }
      .position-heart-icon-2 {
        top: 2rem;
        left: 8rem;
        transform: rotate(30deg);
      }
      .position-facebook-icon {
        left: 8rem;
        transform: rotate(-30deg);
      }
      .position-share-money-icon {
        top: 13rem;
        left: 2rem;
        transform: rotate(45deg);
      }

      /* ICONS-2*/
      .position-circle-heart-icon-2 {
        top: 1rem;
        right: 11rem;
        transform: rotate(30deg);
      }
      .position-quote-icon {
        top: 0.7rem;
        right: 5rem;
        transform: rotate(-45deg);
      }
      .position-twitter-icon {
        right: 1rem;
        transform: rotate(45deg);
      }
      .position-thumbs-up-icon {
        right: 9rem;
        transform: rotate(-30deg);
      }
      .position-share-icon {
        right: 4rem;
        bottom: 1rem;
        transform: rotate(-30deg);
      }

      .text {
        width: 50%;
      }

      .hero-logos {
        height: 50px;
        width: 50px;
      }
      .normal-icons {
        height: 30px;
        width: 30px;
      }
      .small-icons {
        height: 10px;
        width: 10px;
      }
      .share-icon {
        height: 40px;
        width: 40px;
      }
    }

    .form-container {
      background-color: var(--form-color);
      border-radius: 5px;
      margin: 1rem 12rem 1rem 12rem;
      padding: 1rem;

      form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .email-input {
          margin: 0 2rem;
          flex-grow: 1;
          padding: 5px;
          outline: none;
          border: 1px solid var(--text-color-1);
          border-radius: 5px;
          background: inherit;
          transition: background 0.25s, box-shadow 0.25s;
        }

        .email-input:focus {
          background: white;
          box-shadow: 0 0 2px var(--text-color);
        }
      }
    }
  }
}

/* CONTACT US */
#section-contact-us {
  h5 {
    font-weight: bold;
  }
  margin: 7rem 0;
  display: flex;

  .contact-info-1 {
    margin: 0 5rem;
    padding: 0.5rem;
    img {
      padding: 1rem 0;
    }
    p {
      width: 70%;
    }
  }

  .contact-info-2,
  .responsive-tab {
    display: flex;

    .centered {
      margin: 0.4rem;
      padding: 0.5rem 2rem;
    }
  }
}

footer {
  background-color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

/* MODAL WINDOW */
.pop-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #ffffff;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.pop-screen-header {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.pop-screen-form {
  border-radius: 20px;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.5rem;
}

.pop-screen-form label {
  font-weight: 500;
}

.pop-screen-form input {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.pop-screen-form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn-close-pop-screen {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1000px) {
  #section-odd {
    .section-container {
      margin-top: 12rem;
      padding: 0%;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 42%;
      }

      .image-container {
        text-align: center;
        padding-top: 6rem;
        margin: 0%;
      }

      .section-interior-info {
        margin-left: 15rem;
        padding: 1rem 3rem;
        width: 50%;
        .btn {
          margin-top: 2rem;
          margin-left: 8rem;
        }
      }
    }
  }

  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even {
    .section-container {
      margin-top: 12rem;
      padding: 3rem 0;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 42%;
      }

      .image-container {
        text-align: center;
        padding-top: 2rem;
        margin: 0%;
      }

      .section-interior-info {
        margin: 3rem 0 1rem 15rem;
        padding: 1rem 3rem;
        width: 50%;
        .btn {
          margin-top: 2rem;
          margin-left: 8rem;
        }
      }
    }
  }

  /* BEDROOM INTERIOR */
  .section-bedroom-interior {
    img {
      height: 250px;
      width: 270px;
    }
  }

  /* TOP DESIGNS */
  #section-top-designs {
    .row-container {
      display: flex;

      img {
        max-width: 100%;
        width: 30.75rem;
      }

      .top-design-text {
        background-color: var(--secondary-color);
        padding: 4rem;

        h3 {
          font-size: 1.5rem;
        }

        p {
          margin-top: 2rem;
        }
      }
    }
  }

  /* ABOUT US */
  #section-about-us {
    .about-container {
      .about-image {
        height: 330px;
        width: 370px;
      }

      .about-description {
        .about-icons {
          position: absolute;
          top: 8rem;
          left: 1rem;
          .icon-container {
            .icon-position {
              padding: 0.4rem;
              margin-bottom: 0.2rem;
              height: 2.4rem;
            }
          }
        }
        padding: 3rem 2rem 5rem 4.6rem;

        .about-text-header {
          h2 {
            font-size: 1.5rem;
          }

          hr {
            margin-left: 0%;
            width: 20%;
          }
        }

        .about-text-info {
          width: 90%;
          font-size: 0.8rem;
        }
        button {
          margin-top: 1rem;
        }
      }
    }
  }

  /* CREDITS */
  #section-credits {
    img {
      height: 300px;
      width: 450px;
    }

    h5 {
      font-size: 1rem;
    }

    p {
      margin-right: 0;
      padding-right: 0;
      width: 80%;
      font-size: 0.65rem;
    }

    .card-postion {
      padding: 0.5rem;
      img {
        height: 40px;
        width: 40px;
      }
      .credit-text {
        padding-left: 1rem;
        margin: 0;
      }
    }

    .first-card {
      top: 7.5rem;
    }
    .second-card {
      left: 5rem;
    }
    .third-card {
      right: 8rem;
      bottom: 8rem;
    }
  }

  /* GALLERY & TESTIMONIALS*/
  #section-gallery-and-testimonials {
    margin: 5rem 0;
    .section-header {
      h2 {
        width: 70%;
      }
    }
    .gallery-image {
      height: 240px;
      width: 300px;
    }

    .slider-wrap {
      position: relative;
      overflow: hidden;
      height: 500px;
      margin-left: 3rem;

      .slider-main {
        width: 500%;
      }

      .item {
        display: inline-block;
        position: relative;
        margin: 0.5rem;
        // transition: 0.5s

        .detail-box {
          margin-top: 2rem;
        }

        .testimonial {
          height: 350px;
          width: 400px;

          .quote-icon {
            width: 50px;
          }

          .testimonial-header {
            margin: 1rem 0;
          }

          .testimonial-text {
            font-size: 0.8rem;
          }

          .author-container {
            display: flex;
            margin-top: 1rem;
            .testimonial-photo {
              width: 100px;
              border-radius: 50%;
            }

            .initials {
              padding: 1rem 0.9rem;
              h5 {
                font-size: 1rem;
              }
              p {
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }

  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    padding: 3rem 4rem;

    .subscription-container {
      padding: 4rem;

      .subscription-text-icons {
        padding: 2rem;
        img {
          display: none;
        }

        .text {
          width: 80%;
          h1 {
            text-align: center;
            font-size: 1.6rem;
          }
        }
      }

      .form-container {
        background-color: var(--form-color);
        border-radius: 5px;
        margin: 2rem;
        padding: 1rem;
      }
    }
  }

  /* CONTACT US */
  #section-contact-us {
    h5 {
      font-weight: bold;
    }
    margin: 7rem 0;
    display: flex;

    .contact-info-1 {
      padding: 0.5rem;
      img {
        padding: 1rem 0;
      }
      p {
        width: 70%;
      }
    }

    .contact-info-2 {
      display: block;

      .responsive-tab {
        display: flex;
      }

      .centered {
        margin: 0.4rem;
        padding: 0.5rem 2rem;
      }
    }
  }
}

@media (max-width: 900px) {
  /* NAV BAR */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0.3rem 0;
    color: inherit;
    padding: 0 4rem;

    .mobile-menu {
      margin-right: 1rem;
      float: right;
      cursor: pointer;
      display: block;
    }

    nav {
      display: none;
      position: fixed;
      z-index: 999;
      width: 50%;
      right: 0;
      top: 0;
      background: var(--secondary-color);
      height: 100vh;
      padding: 2rem;

      ul {
        margin: 30% 0 0 20%;
        padding: 1rem;
        li {
          display: block;
          margin: 1rem;
          font-size: 1.2rem;
          a {
            text-decoration: none;
            color: #303030;
          }
          a.active-link,
          a:hover {
            font-weight: bold;
          }
        }
      }

      .navbar-nav-buttons {
        margin-left: 0;
        display: block;
        .navbar-button {
          margin: 0;

          .responsive-btn {
            margin-left: 2rem;
          }
        }
      }

      .mobile-menu-exit {
        display: block;
        height: 40px;
        float: right;
        margin: 0.5em;
        cursor: pointer;
      }
    }
  }

  /* HOME & BEDROOM INTERIOR  */
  #section-odd {
    .section-container {
      margin-top: 12rem;
      padding: 0%;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 42%;
      }

      .image-container {
        text-align: center;
        padding-top: 6rem;
        margin: 0%;
      }

      .section-interior-info {
        margin-left: 11rem;
        padding: 1rem 3rem;
        width: 60%;
        .btn {
          margin-top: 2rem;
          margin-left: 6rem;
        }
      }
    }
  }

  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even {
    .section-container {
      margin-top: 12rem;
      padding: 3rem 0;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 42%;
      }

      .image-container {
        text-align: center;
        padding-top: 2rem;
        margin: 0%;
      }

      .section-interior-info {
        margin: 3rem 0 1rem 11rem;
        padding: 1rem 3rem;
        width: 60%;
        .btn {
          margin-top: 2rem;
          margin-left: 7rem;
        }
      }
    }
  }

  #section-credits {
    .first-card {
      position: absolute;
      top: 8rem;
    }
    .second-card {
      left: 7rem;
    }
    .third-card {
      right: 7rem;
      bottom: 8rem;
    }
  }

  //About
}

@media (max-width: 840px) {
  /* HOME */
  #section-home {
    .home {
      background-image: url(../img/hero-image.jpg);
      background-size: cover;
      background-position: 25%;
      .home-text {
        padding: 3.5rem;
        width: 70%;
        h1 {
          padding: 2rem 0;
          margin: 0.5rem;
        }
        p {
          margin: 0.5rem;
        }

        a {
          padding-left: 1rem;
        }

        .buttons {
          margin: 1rem 0;
        }
      }
    }
  }

  .btn {
    height: 40px;
    width: 100px;
  }

  /* TOP DESIGNS */
  #section-top-designs {
    margin: 3rem 0;
    .row-container {
      display: flex;

      img {
        max-width: 100%;
        width: 20.75rem;
      }

      .top-design-text {
        background-color: var(--secondary-color);
        padding: 5rem 0 5rem 2rem;

        p {
          margin-top: 2rem;
        }
      }
    }
  }

  /* CREDIT */
  #section-credits {
    img {
      height: 260px;
      width: 390px;
    }
    .first-card {
      position: absolute;
      top: 8rem;
    }
    .second-card {
      left: 5rem;
    }
    .third-card {
      right: 7rem;
      bottom: 8rem;
    }
  }

  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    .btn {
      font-size: 0.9rem;
    }
    .form-container {
      margin: 0 5rem;
      img {
        width: 2.5rem;
      }
    }
  }

  /* CONTACT US */
  #section-contact-us {
    h5 {
      font-weight: bold;
    }
    margin: 7rem 0;
    display: block;
    text-align: center;

    //general
    p {
      font-size: 0.94rem;
    }

    .contact-info-1 {
      padding: 0.5rem;
      margin-bottom: 3rem;
      img {
        padding: 1rem 0;
      }
      p {
        margin-left: 4rem;
        width: 70%;
      }
    }

    .contact-info-2 {
      display: flex;
      padding: 1rem 7rem;

      .centered {
        margin: 1rem;
        padding: 0.5rem;
      }
    }
  }

  /* ABOUT US */
  #section-about-us {
    .about-container {
      display: flex;
      .about-image {
        height: 300px;
        width: 450px;
      }

      .about-description {
        padding: 2rem 1rem 2rem 7rem;
      }

      .about-text-info {
        padding-top: 2rem;
        width: 60%;
      }
    }
  }
}

@media (max-width: 650px) {
  /* NAV BAR */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0.3rem 0;
    color: inherit;
    padding: 0 4rem;

    .mobile-menu {
      margin-right: 1rem;
      float: right;
      cursor: pointer;
      display: block;
    }

    nav {
      display: none;
      position: fixed;
      z-index: 999;
      width: 69%;
      right: 0;
      top: 0;
      background: var(--secondary-color);
      height: 100vh;
      padding: 2rem;

      ul {
        margin: 30% 0 0 20%;
        padding: 1rem;
        li {
          display: block;
          margin: 1rem;
          font-size: 1.2rem;
          a {
            text-decoration: none;
            color: #303030;
          }
          a.active-link,
          a:hover {
            font-weight: bold;
          }
        }
      }

      .navbar-nav-buttons {
        margin-left: 0;
        display: block;
        .navbar-button {
          margin: 0;

          .responsive-btn {
            margin-left: 0.7rem;
          }
        }
      }

      .mobile-menu-exit {
        display: block;
        height: 40px;
        float: right;
        margin: 0.5em;
        cursor: pointer;
      }
    }
  }

  /* HOME */
  #section-home {
    .home {
      background-image: url(../img/hero-image.jpg);
      background-size: cover;
      background-position: 25%;
      .home-text {
        padding: 3.5rem;
        width: 90%;
      }
    }
  }

  /* HOME & BEDROOM INTERIOR  */
  #section-odd {
    .section-container {
      margin-top: 12rem;
      padding: 0%;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 35%;
      }

      .image-container {
        padding-top: 6rem;
        margin: 0%;
      }

      .section-interior-info {
        margin-left: 4rem;
        padding: 1rem 3rem;
        width: 75%;
        .btn {
          margin-top: 2rem;
          margin-left: 6rem;
        }
      }
    }
  }

  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even {
    .section-container {
      margin-top: 12rem;
      padding: 3rem 0;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 35%;
      }

      .image-container {
        text-align: center;
        padding-top: 2rem;
        margin: 0%;
      }

      .section-interior-info {
        margin: 3rem 0 1rem 4rem;
        padding: 1rem 3rem;
        width: 75%;
        .btn {
          margin-top: 2rem;
          margin-left: 6rem;
        }
      }
    }
  }

  /* TOP DESIGNS */
  #section-top-designs {
    background-color: var(--secondary-color);
    margin: 3rem 0;
    .row-container {
      display: flex;

      img {
        display: none;
      }

      .top-design-text {
        padding: 3rem 0 5rem 2rem;

        p {
          margin-top: 2rem;
        }
      }
    }
  }

  /* ABOUT US */
  #section-about-us {
    .about-container {
      display: flex;
      .about-image {
        display: none;
      }

      .about-description {
        .about-icons {
          display: inline-block;
          position: absolute;
          top: 5rem;
          left: 2rem;
          .icon-container {
            .icon-position {
              padding: 0.4rem;
              margin-bottom: 0.2rem;
              height: 4rem;
            }
          }
        }
        padding: 3rem 2rem 5rem 10rem;

        .about-text-info {
          padding-top: 3rem;
          width: 80%;
        }
        button {
          margin-top: 1rem;
        }
      }
    }
  }

  /* GALLERY & TESTIMONIALS*/
  #section-gallery-and-testimonials {
    margin: 5rem 0;
    .section-header {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      h2 {
        font-size: 1.2rem;
        width: 70%;
      }
    }
  }

  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    padding: 3rem 1rem;

    .subscription-container {
      padding: 1rem;

      .subscription-text-icons {
        .text {
          width: 80%;
          h1 {
            text-align: center;
            font-size: 1.2rem;
          }
        }
      }

      .form-container {
        background-color: var(--form-color);
        border-radius: 5px;
        margin: 0.4rem;
        padding: 1rem;

        form {
          img {
            display: none;
          }
        }
      }
    }
  }

  /* CONTACT US */
  #section-contact-us {
    h5 {
      font-weight: bold;
    }
    margin: 7rem 0;
    display: block;

    .contact-info-1 {
      padding: 0.5rem;
      img {
        padding: 1rem 0;
      }
      p {
        width: 70%;
      }
    }

    .contact-info-2 {
      display: block;

      .responsive-tab {
        display: flex;
      }

      .centered {
        margin: 0.4rem;
        padding: 0.5rem 2rem;
      }
    }
  }
}

@media (max-width: 470px) {
  header {
    padding: 0 1.5rem;
  }

  #section-home {
    .home {
      background-image: url(../img/hero-image.jpg);
      background-size: cover;
      background-position: 25%;
      .home-text {
        padding: 2rem;
        width: 90%;

        a {
          padding-left: 0.7rem;
        }
        .buttons {
          margin: 1rem 0;
        }
      }
    }
  }

  /* HOME & BEDROOM INTERIOR  */
  #section-odd {
    .section-container {
      margin-top: 12rem;
      padding: 0%;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 35%;
      }

      .image-container {
        padding-top: 6rem;
        margin: 0%;
      }

      .section-interior-info {
        margin-left: 4rem;
        padding: 1rem 3rem;
        width: 80%;
        .btn {
          margin-top: 2rem;
          margin-left: 6rem;
        }
      }
    }
  }

  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even {
    .section-container {
      margin-top: 12rem;
      padding: 3rem 0;
      position: relative;
      display: block;

      .section-interior-text-header {
        position: absolute;
        top: 1rem;
        left: 35%;
      }

      .image-container {
        text-align: center;
        padding-top: 2rem;
        margin: 0%;
      }

      .section-interior-info {
        margin: 3rem 0 1rem 4rem;
        padding: 1rem 3rem;
        width: 80%;
        .btn {
          margin-top: 2rem;
          margin-left: 6rem;
        }
      }
    }
  }

  /* CREDITS */
  #section-credits {
    display: none;
  }

  /* ABOUT US */
  /* ABOUT US */
  #section-about-us {
    .about-container {
      display: flex;
      .about-image {
        display: none;
      }

      .about-description {
        .about-icons {
          display: inline-block;
          position: absolute;
          top: 5rem;
          left: 2rem;
          .icon-container {
            .icon-position {
              padding: 0.4rem;
              margin-bottom: 0.2rem;
              height: 4rem;
            }
          }
        }
        padding: 3rem 2rem 5rem 10rem;

        .about-text-info {
          padding-top: 3rem;
          width: 93%;
        }
        button {
          margin-top: 1rem;
        }
      }
    }
  }

  /* GALLERY & TESTIMONIALS*/
  #section-gallery-and-testimonials {
    margin: 5rem 0;
    .section-header {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-around;

      h2 {
        font-size: 1rem;
        width: 63%;
      }
    }

    .slider-wrap {
      position: relative;
      overflow: hidden;
      height: 500px;
      margin-left: 1rem;

      .slider-main {
        position: absolute;
        width: 400%;
      }
    }
  }

  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    padding: 3rem 0.5rem;

    .subscription-container {
      padding: 0.4rem;

      .subscription-text-icons {
        .text {
          width: 80%;
          h1 {
            text-align: center;
            font-size: 1.1rem;
          }
        }
      }

      .form-container {
        background-color: var(--form-color);
        border-radius: 5px;
        margin: 0.4rem;
        padding: 0.7rem;

        form {
          img {
            display: none;
          }
        }
      }
    }
  }

  /* CONTACT US */
  #section-contact-us {
    h5 {
      font-weight: bold;
    }
    margin: 7rem 0;
    display: block;

    .contact-info-1 {
      padding: 0.5rem;
      img {
        padding: 1rem 0;
      }
      p {
        width: 70%;
      }
    }

    .contact-info-2 {
      display: block;
      .responsive-tab {
        display: none;
      }
      .res-moblie {
        display: none;
      }
    }
  }
}
