:root {
  --text-color: #303030;
  --secondary-color: #f5f5f5;
  --form-color: #eae8e8;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif;
  color: var(--text-color);
}

h1 h2 h3 h4 h5 h6 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  width: 35%;
  margin-left: 55%;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

button {
  margin: 0%;
}

.btn {
  height: 50px;
  width: 150px;
  background: #151515;
  color: #fff;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 1.4rem white;
          box-shadow: 1.4rem white;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-transition: -webkit-transform 154ms;
  transition: -webkit-transform 154ms;
  transition: transform 154ms;
  transition: transform 154ms, -webkit-transform 154ms;
}

.btn:active {
  -webkit-box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
}

/* NAV BAR */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: auto;
  width: 100%;
  padding: 0.9rem 0;
  color: inherit;
}

header .mobile-menu {
  margin-right: 1rem;
  float: right;
  cursor: pointer;
  display: none;
}

header .mobile-menu-exit {
  display: none;
  height: 40px;
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

header nav ul {
  margin: 0%;
}

header nav ul li {
  display: inline-block;
  margin: 0 0.6rem;
}

header nav ul li a {
  text-decoration: none;
  color: #303030;
}

header nav ul li a.active-link,
header nav ul li a:hover {
  font-weight: bold;
}

header nav .btn {
  height: 40px;
  width: 100px;
}

header nav .navbar-nav-buttons {
  margin-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .navbar-nav-buttons .navbar-button {
  margin: 0 0.5rem;
}

header nav .nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.section {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

/* HOME */
#section-home .home {
  background-image: url(../img/hero-image.jpg);
  background-size: cover;
  background-position: center;
}

#section-home .home .home-text {
  padding: 5.5rem;
  width: 44%;
  max-width: 100%;
}

#section-home .home .home-text h1 {
  padding: 2rem 0;
  margin: 0.5rem;
}

#section-home .home .home-text p {
  margin: 0.5rem;
}

#section-home .home .home-text a {
  padding-left: 2rem;
}

#section-home .home .home-text .buttons {
  margin: 2rem 0;
}

/* HOME & BEDROOM INTERIOR  */
#section-odd h1 {
  font-size: 3rem;
}

#section-odd .section-container {
  padding: 0%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-odd .section-container .section-interior-text-header {
  position: absolute;
  top: 14rem;
  left: 42rem;
}

#section-odd .section-container .section-interior-text-header .underline {
  margin-left: 4rem;
  height: 12px;
  width: 42px;
}

#section-odd .section-container .image-container {
  margin: 7rem 0;
  color: var(--text-color-1);
  padding: 3rem 0.3rem 3rem 0;
}

#section-odd .section-container .image-container .image-left {
  padding: 0.5rem;
}

#section-odd .section-container .image-container .image-right {
  padding: 0.5rem;
}

#section-odd .section-container .section-interior-info {
  color: var(--text-color-1);
  padding: 7rem 1rem 0 1rem;
  width: 30%;
}

#section-odd .section-container .section-interior-info .btn {
  margin-top: 2rem;
  display: block;
}

/* KITCHEN INTERIOR & EXTERIOR */
#section-even img {
  height: 390px;
  width: 250px;
}

#section-even .section-container {
  padding: 0%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section-even .section-container .section-interior-text-header {
  position: absolute;
  top: 10rem;
  left: 29rem;
}

#section-even .section-container .section-interior-text-header .underline {
  margin-left: 1rem;
  height: 12px;
  width: 42px;
}

#section-even .section-container .image-container {
  color: var(--text-color-1);
  margin: 4rem 0;
  padding: 3rem 0.3rem 3rem 0;
}

#section-even .section-container .image-container .image-left {
  padding: 0.5rem;
}

#section-even .section-container .image-container .image-right {
  padding: 0.5rem;
}

#section-even .section-container .section-interior-info {
  color: var(--text-color-1);
  padding: 7rem 1rem 0 1rem;
  width: 30%;
}

#section-even .section-container .section-interior-info .btn {
  margin-top: 2rem;
  display: block;
}

/* BEDROOM INTERIOR */
.section-bedroom-interior img {
  height: 320px;
  width: 330px;
}

/* TOP DESIGNS */
#section-top-designs {
  margin: 3rem 0;
}

#section-top-designs .row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-top-designs .row-container img {
  max-width: 100%;
  width: 37.75rem;
}

#section-top-designs .row-container .top-design-text {
  background-color: var(--secondary-color);
  padding: 5rem 4rem 5rem 2rem;
  width: 70%;
}

#section-top-designs .row-container .top-design-text p {
  margin-top: 2rem;
}

/* GALLERY & TESTIMONIALS*/
#section-gallery-and-testimonials {
  margin: 5rem 0;
}

#section-gallery-and-testimonials .section-header {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#section-gallery-and-testimonials .section-header h2 {
  width: 70%;
}

#section-gallery-and-testimonials .section-header .slider-btn-area {
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
  color: #303030;
  outline: none;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#section-gallery-and-testimonials .section-header .slider-btn-area:hover {
  color: #ffffff;
  background-color: black;
}

#section-gallery-and-testimonials .gallery-image {
  height: 300px;
  width: 400px;
}

#section-gallery-and-testimonials .slider-wrap {
  position: relative;
  overflow: hidden;
  height: 500px;
  margin-left: 5rem;
}

#section-gallery-and-testimonials .slider-wrap .slider-main {
  position: absolute;
  width: 300%;
}

#section-gallery-and-testimonials .slider-wrap .item {
  display: inline-block;
  position: relative;
  margin: 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#section-gallery-and-testimonials .slider-wrap .item .detail-box {
  margin-top: 2rem;
}

#section-gallery-and-testimonials .slider-wrap .item .testimonial {
  background-color: #ddd;
  padding: 3rem;
  width: 500px;
}

#section-gallery-and-testimonials .slider-wrap .item .testimonial .quote-icon {
  width: 60px;
}

#section-gallery-and-testimonials .slider-wrap .item .testimonial .testimonial-header {
  margin: 1rem 0;
}

#section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

#section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container .testimonial-photo {
  width: 100px;
  border-radius: 50%;
}

#section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container .initials {
  padding: 1.5rem;
}

/* ABOUT US */
#section-about-us .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-about-us .about-container .about-image {
  height: 400px;
  width: 500px;
}

#section-about-us .about-container .about-description {
  position: relative;
  background-color: var(--secondary-color);
  padding: 3rem 2rem 5rem 10rem;
}

#section-about-us .about-container .about-description .about-icons {
  display: inline-block;
  position: absolute;
  top: 9rem;
  left: 2rem;
}

#section-about-us .about-container .about-description .about-icons .icon-container .icon-position {
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  height: 4rem;
}

#section-about-us .about-container .about-description .about-text-header .underline {
  margin-left: 1rem;
  height: 12px;
  width: 42px;
}

#section-about-us .about-container .about-description .about-text-info {
  padding-top: 3rem;
  width: 60%;
}

#section-about-us .about-container .about-description button {
  margin-top: 1rem;
}

/* CREDITS */
#section-credits {
  margin: 3rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10rem;
}

#section-credits img {
  height: 400px;
  width: 600px;
}

#section-credits h5 {
  font-weight: bold;
  font-size: 1.2rem;
}

#section-credits p {
  margin-right: 0;
  padding-right: 0;
  width: 80%;
  font-size: 0.9rem;
}

#section-credits .card-postion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-color: rgba(243, 246, 244, 0.9);
  padding: 1rem;
  border-radius: 5px;
}

#section-credits .card-postion img {
  height: 60px;
  width: 60px;
}

#section-credits .card-postion .credit-text {
  padding-left: 1rem;
  margin: 0;
}

#section-credits .first-card {
  position: absolute;
  top: 6.5rem;
}

#section-credits .second-card {
  left: 7rem;
}

#section-credits .third-card {
  right: 11rem;
  bottom: 6rem;
}

/* MAIL SUBCRIPTION */
#section-mail-subscription {
  padding: 3rem 6rem;
}

#section-mail-subscription .subscription-container {
  background-color: var(--secondary-color);
  padding: 4rem;
}

#section-mail-subscription .subscription-container .subscription-text-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0 5rem 0;
  position: relative;
  /* ICONS-1*/
  /* ICONS-2*/
}

#section-mail-subscription .subscription-container .subscription-text-icons .position {
  position: absolute;
  -webkit-filter: drop-shadow(2px, 4px, 8px, #585858);
          filter: drop-shadow(2px, 4px, 8px, #585858);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-heart-icon-1 {
  top: 6.5rem;
  left: 5rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-refresh-icon {
  top: 1rem;
  left: 13rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-circle-heart-icon-1 {
  top: 2rem;
  left: 1rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-heart-icon-2 {
  top: 2rem;
  left: 8rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-facebook-icon {
  left: 8rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-share-money-icon {
  top: 13rem;
  left: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-circle-heart-icon-2 {
  top: 1rem;
  right: 11rem;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-quote-icon {
  top: 0.7rem;
  right: 5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-twitter-icon {
  right: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-thumbs-up-icon {
  right: 9rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .position-share-icon {
  right: 4rem;
  bottom: 1rem;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

#section-mail-subscription .subscription-container .subscription-text-icons .text {
  width: 50%;
}

#section-mail-subscription .subscription-container .subscription-text-icons .hero-logos {
  height: 50px;
  width: 50px;
}

#section-mail-subscription .subscription-container .subscription-text-icons .normal-icons {
  height: 30px;
  width: 30px;
}

#section-mail-subscription .subscription-container .subscription-text-icons .small-icons {
  height: 10px;
  width: 10px;
}

#section-mail-subscription .subscription-container .subscription-text-icons .share-icon {
  height: 40px;
  width: 40px;
}

#section-mail-subscription .subscription-container .form-container {
  background-color: var(--form-color);
  border-radius: 5px;
  margin: 1rem 12rem 1rem 12rem;
  padding: 1rem;
}

#section-mail-subscription .subscription-container .form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section-mail-subscription .subscription-container .form-container form .email-input {
  margin: 0 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  outline: none;
  border: 1px solid var(--text-color-1);
  border-radius: 5px;
  background: inherit;
  -webkit-transition: background 0.25s, -webkit-box-shadow 0.25s;
  transition: background 0.25s, -webkit-box-shadow 0.25s;
  transition: background 0.25s, box-shadow 0.25s;
  transition: background 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

#section-mail-subscription .subscription-container .form-container form .email-input:focus {
  background: white;
  -webkit-box-shadow: 0 0 2px var(--text-color);
          box-shadow: 0 0 2px var(--text-color);
}

/* CONTACT US */
#section-contact-us {
  margin: 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-contact-us h5 {
  font-weight: bold;
}

#section-contact-us .contact-info-1 {
  margin: 0 5rem;
  padding: 0.5rem;
}

#section-contact-us .contact-info-1 img {
  padding: 1rem 0;
}

#section-contact-us .contact-info-1 p {
  width: 70%;
}

#section-contact-us .contact-info-2,
#section-contact-us .responsive-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section-contact-us .contact-info-2 .centered,
#section-contact-us .responsive-tab .centered {
  margin: 0.4rem;
  padding: 0.5rem 2rem;
}

footer {
  background-color: var(--secondary-color);
  padding: 1rem;
  text-align: center;
}

/* MODAL WINDOW */
.pop-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #ffffff;
  padding: 5rem 6rem;
  -webkit-box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pop-screen-header {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.pop-screen-form {
  border-radius: 20px;
  margin: 0 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.pop-screen-form label {
  font-weight: 500;
}

.pop-screen-form input {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.pop-screen-form button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 1rem;
}

.btn-close-pop-screen {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1000px) {
  #section-odd .section-container {
    margin-top: 12rem;
    padding: 0%;
    position: relative;
    display: block;
  }
  #section-odd .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 42%;
  }
  #section-odd .section-container .image-container {
    text-align: center;
    padding-top: 6rem;
    margin: 0%;
  }
  #section-odd .section-container .section-interior-info {
    margin-left: 15rem;
    padding: 1rem 3rem;
    width: 50%;
  }
  #section-odd .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 8rem;
  }
  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even .section-container {
    margin-top: 12rem;
    padding: 3rem 0;
    position: relative;
    display: block;
  }
  #section-even .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 42%;
  }
  #section-even .section-container .image-container {
    text-align: center;
    padding-top: 2rem;
    margin: 0%;
  }
  #section-even .section-container .section-interior-info {
    margin: 3rem 0 1rem 15rem;
    padding: 1rem 3rem;
    width: 50%;
  }
  #section-even .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 8rem;
  }
  /* BEDROOM INTERIOR */
  .section-bedroom-interior img {
    height: 250px;
    width: 270px;
  }
  /* TOP DESIGNS */
  #section-top-designs .row-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-top-designs .row-container img {
    max-width: 100%;
    width: 30.75rem;
  }
  #section-top-designs .row-container .top-design-text {
    background-color: var(--secondary-color);
    padding: 4rem;
  }
  #section-top-designs .row-container .top-design-text h3 {
    font-size: 1.5rem;
  }
  #section-top-designs .row-container .top-design-text p {
    margin-top: 2rem;
  }
  /* ABOUT US */
  #section-about-us .about-container .about-image {
    height: 330px;
    width: 370px;
  }
  #section-about-us .about-container .about-description {
    padding: 3rem 2rem 5rem 4.6rem;
  }
  #section-about-us .about-container .about-description .about-icons {
    position: absolute;
    top: 8rem;
    left: 1rem;
  }
  #section-about-us .about-container .about-description .about-icons .icon-container .icon-position {
    padding: 0.4rem;
    margin-bottom: 0.2rem;
    height: 2.4rem;
  }
  #section-about-us .about-container .about-description .about-text-header h2 {
    font-size: 1.5rem;
  }
  #section-about-us .about-container .about-description .about-text-header hr {
    margin-left: 0%;
    width: 20%;
  }
  #section-about-us .about-container .about-description .about-text-info {
    width: 90%;
    font-size: 0.8rem;
  }
  #section-about-us .about-container .about-description button {
    margin-top: 1rem;
  }
  /* CREDITS */
  #section-credits img {
    height: 300px;
    width: 450px;
  }
  #section-credits h5 {
    font-size: 1rem;
  }
  #section-credits p {
    margin-right: 0;
    padding-right: 0;
    width: 80%;
    font-size: 0.65rem;
  }
  #section-credits .card-postion {
    padding: 0.5rem;
  }
  #section-credits .card-postion img {
    height: 40px;
    width: 40px;
  }
  #section-credits .card-postion .credit-text {
    padding-left: 1rem;
    margin: 0;
  }
  #section-credits .first-card {
    top: 7.5rem;
  }
  #section-credits .second-card {
    left: 5rem;
  }
  #section-credits .third-card {
    right: 8rem;
    bottom: 8rem;
  }
  /* GALLERY & TESTIMONIALS*/
  #section-gallery-and-testimonials {
    margin: 5rem 0;
  }
  #section-gallery-and-testimonials .section-header h2 {
    width: 70%;
  }
  #section-gallery-and-testimonials .gallery-image {
    height: 240px;
    width: 300px;
  }
  #section-gallery-and-testimonials .slider-wrap {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-left: 3rem;
  }
  #section-gallery-and-testimonials .slider-wrap .slider-main {
    width: 500%;
  }
  #section-gallery-and-testimonials .slider-wrap .item {
    display: inline-block;
    position: relative;
    margin: 0.5rem;
  }
  #section-gallery-and-testimonials .slider-wrap .item .detail-box {
    margin-top: 2rem;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial {
    height: 350px;
    width: 400px;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .quote-icon {
    width: 50px;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .testimonial-header {
    margin: 1rem 0;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .testimonial-text {
    font-size: 0.8rem;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container .testimonial-photo {
    width: 100px;
    border-radius: 50%;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container .initials {
    padding: 1rem 0.9rem;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container .initials h5 {
    font-size: 1rem;
  }
  #section-gallery-and-testimonials .slider-wrap .item .testimonial .author-container .initials p {
    font-size: 0.8rem;
  }
  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    padding: 3rem 4rem;
  }
  #section-mail-subscription .subscription-container {
    padding: 4rem;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons {
    padding: 2rem;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons img {
    display: none;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons .text {
    width: 80%;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons .text h1 {
    text-align: center;
    font-size: 1.6rem;
  }
  #section-mail-subscription .subscription-container .form-container {
    background-color: var(--form-color);
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
  }
  /* CONTACT US */
  #section-contact-us {
    margin: 7rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-contact-us h5 {
    font-weight: bold;
  }
  #section-contact-us .contact-info-1 {
    padding: 0.5rem;
  }
  #section-contact-us .contact-info-1 img {
    padding: 1rem 0;
  }
  #section-contact-us .contact-info-1 p {
    width: 70%;
  }
  #section-contact-us .contact-info-2 {
    display: block;
  }
  #section-contact-us .contact-info-2 .responsive-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-contact-us .contact-info-2 .centered {
    margin: 0.4rem;
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 900px) {
  /* NAV BAR */
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0.3rem 0;
    color: inherit;
    padding: 0 4rem;
  }
  header .mobile-menu {
    margin-right: 1rem;
    float: right;
    cursor: pointer;
    display: block;
  }
  header nav {
    display: none;
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: var(--secondary-color);
    height: 100vh;
    padding: 2rem;
  }
  header nav ul {
    margin: 30% 0 0 20%;
    padding: 1rem;
  }
  header nav ul li {
    display: block;
    margin: 1rem;
    font-size: 1.2rem;
  }
  header nav ul li a {
    text-decoration: none;
    color: #303030;
  }
  header nav ul li a.active-link,
  header nav ul li a:hover {
    font-weight: bold;
  }
  header nav .navbar-nav-buttons {
    margin-left: 0;
    display: block;
  }
  header nav .navbar-nav-buttons .navbar-button {
    margin: 0;
  }
  header nav .navbar-nav-buttons .navbar-button .responsive-btn {
    margin-left: 2rem;
  }
  header nav .mobile-menu-exit {
    display: block;
    height: 40px;
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }
  /* HOME & BEDROOM INTERIOR  */
  #section-odd .section-container {
    margin-top: 12rem;
    padding: 0%;
    position: relative;
    display: block;
  }
  #section-odd .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 42%;
  }
  #section-odd .section-container .image-container {
    text-align: center;
    padding-top: 6rem;
    margin: 0%;
  }
  #section-odd .section-container .section-interior-info {
    margin-left: 11rem;
    padding: 1rem 3rem;
    width: 60%;
  }
  #section-odd .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even .section-container {
    margin-top: 12rem;
    padding: 3rem 0;
    position: relative;
    display: block;
  }
  #section-even .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 42%;
  }
  #section-even .section-container .image-container {
    text-align: center;
    padding-top: 2rem;
    margin: 0%;
  }
  #section-even .section-container .section-interior-info {
    margin: 3rem 0 1rem 11rem;
    padding: 1rem 3rem;
    width: 60%;
  }
  #section-even .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 7rem;
  }
  #section-credits .first-card {
    position: absolute;
    top: 8rem;
  }
  #section-credits .second-card {
    left: 7rem;
  }
  #section-credits .third-card {
    right: 7rem;
    bottom: 8rem;
  }
}

@media (max-width: 840px) {
  /* HOME */
  #section-home .home {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-position: 25%;
  }
  #section-home .home .home-text {
    padding: 3.5rem;
    width: 70%;
  }
  #section-home .home .home-text h1 {
    padding: 2rem 0;
    margin: 0.5rem;
  }
  #section-home .home .home-text p {
    margin: 0.5rem;
  }
  #section-home .home .home-text a {
    padding-left: 1rem;
  }
  #section-home .home .home-text .buttons {
    margin: 1rem 0;
  }
  .btn {
    height: 40px;
    width: 100px;
  }
  /* TOP DESIGNS */
  #section-top-designs {
    margin: 3rem 0;
  }
  #section-top-designs .row-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-top-designs .row-container img {
    max-width: 100%;
    width: 20.75rem;
  }
  #section-top-designs .row-container .top-design-text {
    background-color: var(--secondary-color);
    padding: 5rem 0 5rem 2rem;
  }
  #section-top-designs .row-container .top-design-text p {
    margin-top: 2rem;
  }
  /* CREDIT */
  #section-credits img {
    height: 260px;
    width: 390px;
  }
  #section-credits .first-card {
    position: absolute;
    top: 8rem;
  }
  #section-credits .second-card {
    left: 5rem;
  }
  #section-credits .third-card {
    right: 7rem;
    bottom: 8rem;
  }
  /* MAIL SUBCRIPTION */
  #section-mail-subscription .btn {
    font-size: 0.9rem;
  }
  #section-mail-subscription .form-container {
    margin: 0 5rem;
  }
  #section-mail-subscription .form-container img {
    width: 2.5rem;
  }
  /* CONTACT US */
  #section-contact-us {
    margin: 7rem 0;
    display: block;
    text-align: center;
  }
  #section-contact-us h5 {
    font-weight: bold;
  }
  #section-contact-us p {
    font-size: 0.94rem;
  }
  #section-contact-us .contact-info-1 {
    padding: 0.5rem;
    margin-bottom: 3rem;
  }
  #section-contact-us .contact-info-1 img {
    padding: 1rem 0;
  }
  #section-contact-us .contact-info-1 p {
    margin-left: 4rem;
    width: 70%;
  }
  #section-contact-us .contact-info-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 7rem;
  }
  #section-contact-us .contact-info-2 .centered {
    margin: 1rem;
    padding: 0.5rem;
  }
  /* ABOUT US */
  #section-about-us .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-about-us .about-container .about-image {
    height: 300px;
    width: 450px;
  }
  #section-about-us .about-container .about-description {
    padding: 2rem 1rem 2rem 7rem;
  }
  #section-about-us .about-container .about-text-info {
    padding-top: 2rem;
    width: 60%;
  }
}

@media (max-width: 650px) {
  /* NAV BAR */
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0.3rem 0;
    color: inherit;
    padding: 0 4rem;
  }
  header .mobile-menu {
    margin-right: 1rem;
    float: right;
    cursor: pointer;
    display: block;
  }
  header nav {
    display: none;
    position: fixed;
    z-index: 999;
    width: 69%;
    right: 0;
    top: 0;
    background: var(--secondary-color);
    height: 100vh;
    padding: 2rem;
  }
  header nav ul {
    margin: 30% 0 0 20%;
    padding: 1rem;
  }
  header nav ul li {
    display: block;
    margin: 1rem;
    font-size: 1.2rem;
  }
  header nav ul li a {
    text-decoration: none;
    color: #303030;
  }
  header nav ul li a.active-link,
  header nav ul li a:hover {
    font-weight: bold;
  }
  header nav .navbar-nav-buttons {
    margin-left: 0;
    display: block;
  }
  header nav .navbar-nav-buttons .navbar-button {
    margin: 0;
  }
  header nav .navbar-nav-buttons .navbar-button .responsive-btn {
    margin-left: 0.7rem;
  }
  header nav .mobile-menu-exit {
    display: block;
    height: 40px;
    float: right;
    margin: 0.5em;
    cursor: pointer;
  }
  /* HOME */
  #section-home .home {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-position: 25%;
  }
  #section-home .home .home-text {
    padding: 3.5rem;
    width: 90%;
  }
  /* HOME & BEDROOM INTERIOR  */
  #section-odd .section-container {
    margin-top: 12rem;
    padding: 0%;
    position: relative;
    display: block;
  }
  #section-odd .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 35%;
  }
  #section-odd .section-container .image-container {
    padding-top: 6rem;
    margin: 0%;
  }
  #section-odd .section-container .section-interior-info {
    margin-left: 4rem;
    padding: 1rem 3rem;
    width: 75%;
  }
  #section-odd .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even .section-container {
    margin-top: 12rem;
    padding: 3rem 0;
    position: relative;
    display: block;
  }
  #section-even .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 35%;
  }
  #section-even .section-container .image-container {
    text-align: center;
    padding-top: 2rem;
    margin: 0%;
  }
  #section-even .section-container .section-interior-info {
    margin: 3rem 0 1rem 4rem;
    padding: 1rem 3rem;
    width: 75%;
  }
  #section-even .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  /* TOP DESIGNS */
  #section-top-designs {
    background-color: var(--secondary-color);
    margin: 3rem 0;
  }
  #section-top-designs .row-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-top-designs .row-container img {
    display: none;
  }
  #section-top-designs .row-container .top-design-text {
    padding: 3rem 0 5rem 2rem;
  }
  #section-top-designs .row-container .top-design-text p {
    margin-top: 2rem;
  }
  /* ABOUT US */
  #section-about-us .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-about-us .about-container .about-image {
    display: none;
  }
  #section-about-us .about-container .about-description {
    padding: 3rem 2rem 5rem 10rem;
  }
  #section-about-us .about-container .about-description .about-icons {
    display: inline-block;
    position: absolute;
    top: 5rem;
    left: 2rem;
  }
  #section-about-us .about-container .about-description .about-icons .icon-container .icon-position {
    padding: 0.4rem;
    margin-bottom: 0.2rem;
    height: 4rem;
  }
  #section-about-us .about-container .about-description .about-text-info {
    padding-top: 3rem;
    width: 80%;
  }
  #section-about-us .about-container .about-description button {
    margin-top: 1rem;
  }
  /* GALLERY & TESTIMONIALS*/
  #section-gallery-and-testimonials {
    margin: 5rem 0;
  }
  #section-gallery-and-testimonials .section-header {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #section-gallery-and-testimonials .section-header h2 {
    font-size: 1.2rem;
    width: 70%;
  }
  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    padding: 3rem 1rem;
  }
  #section-mail-subscription .subscription-container {
    padding: 1rem;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons .text {
    width: 80%;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons .text h1 {
    text-align: center;
    font-size: 1.2rem;
  }
  #section-mail-subscription .subscription-container .form-container {
    background-color: var(--form-color);
    border-radius: 5px;
    margin: 0.4rem;
    padding: 1rem;
  }
  #section-mail-subscription .subscription-container .form-container form img {
    display: none;
  }
  /* CONTACT US */
  #section-contact-us {
    margin: 7rem 0;
    display: block;
  }
  #section-contact-us h5 {
    font-weight: bold;
  }
  #section-contact-us .contact-info-1 {
    padding: 0.5rem;
  }
  #section-contact-us .contact-info-1 img {
    padding: 1rem 0;
  }
  #section-contact-us .contact-info-1 p {
    width: 70%;
  }
  #section-contact-us .contact-info-2 {
    display: block;
  }
  #section-contact-us .contact-info-2 .responsive-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-contact-us .contact-info-2 .centered {
    margin: 0.4rem;
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 470px) {
  header {
    padding: 0 1.5rem;
  }
  #section-home .home {
    background-image: url(../img/hero-image.jpg);
    background-size: cover;
    background-position: 25%;
  }
  #section-home .home .home-text {
    padding: 2rem;
    width: 90%;
  }
  #section-home .home .home-text a {
    padding-left: 0.7rem;
  }
  #section-home .home .home-text .buttons {
    margin: 1rem 0;
  }
  /* HOME & BEDROOM INTERIOR  */
  #section-odd .section-container {
    margin-top: 12rem;
    padding: 0%;
    position: relative;
    display: block;
  }
  #section-odd .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 35%;
  }
  #section-odd .section-container .image-container {
    padding-top: 6rem;
    margin: 0%;
  }
  #section-odd .section-container .section-interior-info {
    margin-left: 4rem;
    padding: 1rem 3rem;
    width: 80%;
  }
  #section-odd .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  /* KITCHEN INTERIOR & EXTERIOR */
  #section-even .section-container {
    margin-top: 12rem;
    padding: 3rem 0;
    position: relative;
    display: block;
  }
  #section-even .section-container .section-interior-text-header {
    position: absolute;
    top: 1rem;
    left: 35%;
  }
  #section-even .section-container .image-container {
    text-align: center;
    padding-top: 2rem;
    margin: 0%;
  }
  #section-even .section-container .section-interior-info {
    margin: 3rem 0 1rem 4rem;
    padding: 1rem 3rem;
    width: 80%;
  }
  #section-even .section-container .section-interior-info .btn {
    margin-top: 2rem;
    margin-left: 6rem;
  }
  /* CREDITS */
  #section-credits {
    display: none;
  }
  /* ABOUT US */
  /* ABOUT US */
  #section-about-us .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-about-us .about-container .about-image {
    display: none;
  }
  #section-about-us .about-container .about-description {
    padding: 3rem 2rem 5rem 10rem;
  }
  #section-about-us .about-container .about-description .about-icons {
    display: inline-block;
    position: absolute;
    top: 5rem;
    left: 2rem;
  }
  #section-about-us .about-container .about-description .about-icons .icon-container .icon-position {
    padding: 0.4rem;
    margin-bottom: 0.2rem;
    height: 4rem;
  }
  #section-about-us .about-container .about-description .about-text-info {
    padding-top: 3rem;
    width: 93%;
  }
  #section-about-us .about-container .about-description button {
    margin-top: 1rem;
  }
  /* GALLERY & TESTIMONIALS*/
  #section-gallery-and-testimonials {
    margin: 5rem 0;
  }
  #section-gallery-and-testimonials .section-header {
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #section-gallery-and-testimonials .section-header h2 {
    font-size: 1rem;
    width: 63%;
  }
  #section-gallery-and-testimonials .slider-wrap {
    position: relative;
    overflow: hidden;
    height: 500px;
    margin-left: 1rem;
  }
  #section-gallery-and-testimonials .slider-wrap .slider-main {
    position: absolute;
    width: 400%;
  }
  /* MAIL SUBCRIPTION */
  #section-mail-subscription {
    padding: 3rem 0.5rem;
  }
  #section-mail-subscription .subscription-container {
    padding: 0.4rem;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons .text {
    width: 80%;
  }
  #section-mail-subscription .subscription-container .subscription-text-icons .text h1 {
    text-align: center;
    font-size: 1.1rem;
  }
  #section-mail-subscription .subscription-container .form-container {
    background-color: var(--form-color);
    border-radius: 5px;
    margin: 0.4rem;
    padding: 0.7rem;
  }
  #section-mail-subscription .subscription-container .form-container form img {
    display: none;
  }
  /* CONTACT US */
  #section-contact-us {
    margin: 7rem 0;
    display: block;
  }
  #section-contact-us h5 {
    font-weight: bold;
  }
  #section-contact-us .contact-info-1 {
    padding: 0.5rem;
  }
  #section-contact-us .contact-info-1 img {
    padding: 1rem 0;
  }
  #section-contact-us .contact-info-1 p {
    width: 70%;
  }
  #section-contact-us .contact-info-2 {
    display: block;
  }
  #section-contact-us .contact-info-2 .responsive-tab {
    display: none;
  }
  #section-contact-us .contact-info-2 .res-moblie {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */