/* CREDITS */
.credits {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(243, 246, 244, 0.94);
    padding: 0.4rem 0.7rem;
    border-radius: 5px;
    height: 6.7rem;
    width: 28rem;
    transition: all ease-in-out 0.6s;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      justify-content: space-evenly;
      background: rgba(243, 246, 244);
      position: initial;
      height: 26rem;
      padding: 1.6rem;
      margin: 1.6rem;
    }

    &:hover {
      background: var(--text-color);
      color: white;
      transform: scale(1.1);
    }

    // Absolute positioning of the cards
    &--first-card {
      top: -1.5rem;
      left: 40rem;
      @media only screen and (max-width: $bp-large) {
        top: -2.5rem;
        left: 33rem;
      }

      @media only screen and (max-width: $bp-medium) {
        left: 23rem;
      }
    }
    &--second-card {
      left: 23rem;
      bottom: 10rem;

      @media only screen and (max-width: $bp-large) {
        left: 16rem;
      }

      @media only screen and (max-width: $bp-medium) {
        left: 10rem;
      }
    }
    &--third-card {
      right: 37rem;
      bottom: -1rem;

      @media only screen and (max-width: $bp-large) {
        bottom: -2rem;
        right: 32rem;
      }

      @media only screen and (max-width: $bp-medium) {
        right: 23rem;
      }
    }
    &--fourth-card {
      right: 25rem;
      top: 12rem;

      @media only screen and (max-width: $bp-large) {
        right: 15rem;
        top: 9rem;
      }

      @media only screen and (max-width: $bp-medium) {
        right: 9rem;
        top: 9rem;
      }
    }

    // Card icons
    &--icons {
      height: 3.5rem;

      @media only screen and (max-width: $bp-small) {
        height: 5.5rem;
      }
    }
  }

  // Bathroom Photo
  &__photo-container {
    width: 45%;
    &--photo {
      width: 100%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 55%;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
}
