.loading {
  &__screen {
    position: relative;
    height: 100vh;
  }
  &__hidden {
    display: none;
  }

  &__visible {
    display: block;
    animation: movesUp 0.5s ease-in;
  }

  &__container {
    position: absolute;
    top: 43%;
    left: 45%;

    @media only screen and (max-width: $bp-medium) {
      top: 40%;
      left: 40%;
    }
  }
  &__shop-container {
    position: absolute;
    top: 45%;
    left: 50%;

    @media only screen and (max-width: $bp-medium) {
      top: 40%;
      left: 40%;
    }

    @media only screen and (max-width: $bp-small) {
      top: 40%;
      left: 35%;
    }
  }

  &__spinner {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 1rem;
    border: 0.7rem solid var(--secondary-color);
    border-radius: 50%;
    border-top: 0.7rem solid var(--text-color);
    animation: spin 2s linear infinite;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__logo {
    position: absolute;
    left: 2.5rem;
    top: 1.5rem;
    width: 7rem;
  }
}
