/* SECTIONS */
.section {
  margin-block-end: 12rem;

  &__interior-exterior,
  &__credits,
  &__mail-subscription {
    padding-block: 3rem;
    display: flex;
    justify-content: center;
  }

  /* CONTACT AND CREDITS */
  &__contact {
    text-align: center;
  }

  /* ABOUT */
  &__about {
    display: flex;
  }

  &__top-designs {
    padding: 4rem;

    @media only screen and (max-width: $bp-small) {
      padding: 0;
    }
  }
}

/* FOOTER */
.footer {
  background-color: var(--secondary-color);
  padding: 4rem;
  text-align: center;
}
